@model DTP.Models.Sites

@* Page rendered by the controller *@

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sites</h4>
<hr />

<div class="col-md-4">
    @* Post method to be called *@
    <form asp-action="Create">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" value="placeholder.png" class="form-control"/>
        <label asp-for="Link" class="control-label"></label>
        <input asp-for="Link" class="form-control"/>

        <br />
        <input type="submit" value="Create" class="btn btn-success"/>
        <a asp-action="Index" class="btn bg-white">Back to Home</a>
    </form>
</div>