@model List<DTP.Models.Sites>

@{
    ViewData["Title"] = "Home";
    List<Sites> sites = Model;
}

<style>
    .animated {
        transition: margin .5s;
    }

    .animated:hover {
        margin-bottom: 35px;
    }
</style>

<ul class="d-flex justify-content-end" style="margin: 0px;">
    <a class="btn bg-white" style="font-weight: 600; width: 38px;" asp-action="Details">!</a>
    <a class="btn btn-success" style="margin-left: 10px; font-weight: 800; width: 38px;" asp-action="Create">+</a>
</ul>

<section class="text-white" style="margin-top: 80px;">
    @{
        double items = 7.0;
        int rows = (int)Math.Ceiling(sites.Count() / items);

        for (int row = 0; row < rows; row++)
        {
            <div class="d-flex justify-content-center">
                @{
                    for (int i = 0; i < items; i++)
                    {
                        try
                        {
                            Sites site = sites[i + row * 7];
                            string image = @"images/" + site.Image;

                            <div class="d-grid align-content-end" style="height: 250px;">
                                <div class="text-center animated">
                                    <a href=@site.Link target="_blank" class="d-flex justify-content-center align-items-center bg-white" style="margin: 15px; width: 120px; height: 120px; border-radius: 10px;">
                                        <img type="image" src=@image style="width: 100px; height: 100px;">
                                    </a>
                                    <p>@site.Name</p>
                                </div>
                            </div>
                        }
                        catch (ArgumentException e)
                        {
                            string time = DateTime.Now.ToString("hh:mm:ss");
                            Console.WriteLine($"[{time}] {e.Message}");
                        }
                    }
                }
            </div>
        }
    }

    @* Redirect to service pages using the controller *@
</section>